@import './article-header.css';
@import './article-figure.css';
@import './article-colophon.css';
@import './article-byline.css';
@import './article-socialmeida.css';
@import './article-mainarticle.css';

.mainArticle {
	display: grid;
	font-family: Georgia, 'Times New Roman', Times, serif;
	grid-template-rows: repeat(5, auto);
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: ". read read ."
						 ". teaser teaser teaser"
						 "cover cover cover cover"
						 "newssection colophon colophon colophon"
						 "byline content content content";
}